@using STLTapReport.Models;
@model LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyHead">
    <h1>Login</h1>
</div>

<div id="loginView">

    <div id="loginViewForm">
    @using (Html.BeginForm("Login", "Account"))
    {
        @Html.ValidationSummary();
        <span>User name: </span>@Html.TextBoxFor(m => m.UserName); <br /><br />
        <span>Password: </span>@Html.PasswordFor(m => m.Password); <br /><br />
    }
    </div>
    <div id="loginViewSubmit">
        <input type="submit" value="Login" id="loginSubmit" /><br />
    </div>
</div>
<h3>Don't have an account? <a href="@Url.Action("SignUp", "Account")">Sign up for free!</a></h3>