@{
    ViewBag.Title = "Beers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using STLTapReport.data;
@using STLTapReport.Models;
@model BeersModel

<h2>Beers</h2>
@foreach (beer m in Model.beers)
{ 
    <h3><a href="@Url.Action("BeerProfile", new { BeerProfileId = m.beerID })">@m.name</a></h3>
}