@{
    ViewBag.Title = "Beers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beers</h2>
<h3>Stouts:</h3>
<ul>
    <li>Guinness Draught</li>
    <li>Guinness Extra Stout</li>
    <li>Old Rasputin Imperial Stout</li>
    <li>Left Hand Milk Stout</li>
</ul>
<h3>Lagers:</h3>
<ul>
    <li>Schlafly Pilsner</li>
    <li>Budweiser</li>
    <li>Weihenstephaner</li>
</ul>
