@using STLTapReport.data;
@using STLTapReport.Models;
@model BeerStyleModel
@{
    ViewBag.Title = "Styles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Beer Styles</h2>
<h3>Explore beer styles and pick up to 3 favorites!</h3>
@foreach (style m in Model.styles)
{
    <div><a href="@Url.Action("StyleProfile", new { StyleProfileId = m.styleID })">@m.name</a></div>
}
