@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to STL Tap Report, an online database of local beers and beers styles in the St. Louis area.</h2>
<p>Explore local beers, learn about different styles of beer and some local examples, or create an account and choose
your favorite beers. See what styles and beers are the most popular on the STL Tap Report scoreboard!</p>

