<h3>Schalfly Hefeweisen</h3>
<img height="200px" width="110px" src="http://schlafly.com/uploads/2013/05/13/hefeweizen.png"/>
<p><strong>Krazy4bru27 says: </strong>I like this beer a bunch.</p>
<p><strong>Featured at: </strong>The Schlafly Tap Room</p>