@using STLTapReport.data;
@using STLTapReport.Models;
@model BeerRemoveModel

@{
    ViewBag.Title = "RemoveBeer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyHead">
    <h1>RemoveBeer</h1>
</div>
<h3 class="beerTitle">Select beers to remove.</h3>
<div class="signUpView">
    @using (Html.BeginForm("RemoveBeer", "Admin"))
    {
        @Html.ValidationSummary();
        for (var i = 0; i < Model.BeersToRemove.Count; i++)
        {
            @Html.Label(Model.BeersToRemove[i].BeerName)
            @Html.CheckBoxFor(m => Model.BeersToRemove[i].IsChecked)
            @Html.HiddenFor(m => Model.BeersToRemove[i].BeerName) <br />
        }
        <br />
        <input type="submit" value="Delete Selected" />
    }
</div>